{% extends 'base.html' %}

{% block title %}Submitted Info {% if code %}"{{ code }}"{% endif %}{% endblock %}

{% block main %}


<div class="container">
  {% if infos %}
  <h2>Submission Details:</h2>
  <ul>
    {% for key, value in infos.items() %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
  {% endif %}
</div>


<div class="container">
  <h3>Your Location Details</h3>
  <iframe
    width="650"
    height="450"
    frameborder="0" style="border:0"
    referrerpolicy="no-referrer-when-downgrade"
    src= {{ user_location_url }}
    allowfullscreen>
  </iframe>
</div>

<div class="container">
  <h4>Providers Found Nearby</h4>
  <ul>
    {% for place in places_nearby %}
      <li>{{ place['name'] }}</li>
    {% endfor %}
  </ul>
</div>

<div class="container">
  <h4>Top Place Details</h4>
  <ul>
    {% for key, value in top_place.items() %}
      <li>{{ key }}: {{ value }}</li>
    {% endfor %}
  </ul>
</div>

<script>
  function myFunction() {
    var copyText = document.getElementById("new_url");
    copyText.select();
    document.execCommand("copy");
  }
</script>

{% endblock %}